/* .page-footer {
    margin-top: 25px;
    border-top: 1px solid #E0E0E0;
    clear: left;
    height: 50px !important;
    padding-left: 220px;
    position: relative;
    width: 100%;
    z-index: 0;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
} */
@font-face{
    font-family: MontserratCustom;
    src:url("/assets/fuentes/Montserrat/Montserrat-Regular.ttf");
}
body{
    font-family: MontserratCustom, sans-serif !important;
    background: url("/assets/images/Fondo.png") no-repeat top center fixed !important;
    background-size: 100% auto !important;
}

.mifooter{
    margin-top: 20px;
}
.miNavHeader{
    /* background-color: #155897 !important; */
    background: #0c231e !important;
}

.header-title {
    margin-top: 7px !important;
}

.page-footer {
    background: #0c231e !important;
}

.miPleca{
    background-image: url("/assets/images/Pleca.png") !important;
    background-size: auto 100% !important;
    height: 28px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

.content{
    background-color: #0c231e;
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.stats-card-progress .determinate {
    background: #9d2449 !important;
    
}

.miCardImg{
    width: 100px;
    height: 100px;    
}

.stats-card .percent-info {
    margin-top: -40px !important;
}
.wizard-content {
	padding: 50px 0;
	background: white !important;
}

.parsley-required{
    color: red !important;
}
.parsley-type{
    color: red !important;
}
.ql-editor strong{
    font-weight:bold !important;
}
td{
    font-weight: normal !important;
    color: #10312b !important;
}
.iconGreen{
    color:green !important;
}

/*//////*/
/* .side-nav.fixed{
    width: 240px !important;
} */
.miApanel{
    color: #9d2449;
}
.signin-page {
    height: 100% !important;
    width: 100% !important;
    background: url("/assets/images/fondoLogin1.jpeg") no-repeat !important;    
    background-size: auto !important;
    background-size: cover !important;
}
/* .wizard-content{
    background-color: #F8F2EA !important;
} */
::placeholder{
    color:rgb(177, 176, 176) !important;
    opacity: 1 !important;
}